/* For debugging purposes */
.red {
	border: 2px solid red;
	color: red;
}

/**************************** ******************************/
/* Main Colors [turn into vars when Sass]

Primary Blue: rgb(44, 155, 208);
White;

Secondary Blue: rgb(79, 116, 165);
Black;
*/
/**************************** ******************************/


/****** Web Fonts ******/

@font-face {
    font-family: 'walkway';
    src: url('Walkway_UltraBold-webfont.eot');
    src: url('Walkway_UltraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Walkway_UltraBold-webfont.woff') format('woff'),
         url('Walkway_UltraBold-webfont.ttf') format('truetype'),
         url('Walkway_UltraBold-webfont.svg#walkway_ultraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/****** GENERAL LAYOUT and re-styling ******/

* {
	font-family: 'walkway', Arial, sans-serif;
	font-size: 20px;
}

title {
	margin: 3em 0 2em 0;
}

a {
	text-decoration: none !important;
}

section {
	padding: 3em 0 5em 0;
}

.chevron {
	color: rgba(255, 255, 255, 0.5);
	display: block;
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
}

#contact, 
#skills {
	background-size: cover;
	background: url("../images/bg2.jpg") no-repeat center center fixed;
	color: #fff;
}

.well {
	background-color: rgba(79, 116, 165, 0.8);
	color: white;
}


/****** NAVIGATION ******/

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: rgb(44, 155, 208);
    text-shadow: 0 1px 0 rgb(79, 116, 165);
}

.navigation {
	margin-bottom: 0;
	opacity: 0.8;
}

#nav {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	color: white;
	font-size: 1.5em;
	list-style: none;
	margin: 2em;
	position: absolute;
}


/****** LANDING WEBSITE ******/

@keyframes FadeInOut {
	0% {
		opacity: 0.7;
	}
	70% {
		opacity: 0.3;
	}
	100% {
		opacity: 0.7;
	}
}

.landing {
	
	min-height: 100vh;
	min-width: auto;
	margin-bottom: 2em;
	background: url("../images/bg2.jpg") no-repeat center center fixed;
	background-size: cover;
	position: relative;
}

#jumbotron {
	border: 2px solid white;
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#ld-chevron-wrapper {
	/* Style for positioning the chevron in the landing */
	position: absolute;
	bottom: 10%;
}

#jumbo-mobile {
	/* Since the jumbotron collapses when it reaches 300-400px,
	I find this solution brings less headaches as well as not 
	changing the User Experience */
	color: white;
	position: absolute;
	bottom: 20%;
	border: 2px solid white;
}

#jumbotron,
#jumbo-mobile {
	animation: FadeInOut 8s ease-in-out 0s infinite;
}


/****** ABOUT ******/

#chevron-about,
#chevron-projects {
	color: rgba(44, 155, 208, 0.8) !important;
}

/****** SKILLS ******/

.hidden-skill {
	transition: visibility 1s linear;
}

.btn-skill {
	width: 280px;
	color: black;
	background-color: white;
}

#skills .row {
	margin-top: auto;
	overflow: hidden;
}


/****** PROJECTS ******/

.project-img {
	background-size: cover;
	width: 100%;
	height: auto;
	padding: 2rem;
}
