/* For debugging purposes */
.red {
	border: 2px solid red;
	color: red;
}

/**************************** ******************************/
/* Main Colors [turn into vars when Sass]

Primary Blue: rgb(44, 155, 208);
White;

Secondary Blue: rgb(79, 116, 165);
Black;
*/
/**************************** ******************************/


/****** Web Fonts ******/
/*
@font-face {
    font-family: 'walkway';
    src: url('Walkway_UltraBold-webfont.eot');
    src: url('Walkway_UltraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Walkway_UltraBold-webfont.woff') format('woff'),
         url('Walkway_UltraBold-webfont.ttf') format('truetype'),
         url('Walkway_UltraBold-webfont.svg#walkway_ultraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/****** GENERAL LAYOUT and re-styling ******/

body {
	font-family: "Lato", sans-serif;
	
}

h1, h2, h3, h4, #myNavbar ul a {
	font-family: "Share Tech Mono", monospace;
}

h1 {
	font-size: 0.7em;
}

.title {
	font-size: 2.8em;
	font-weight: bold;

}

p {
	font-size: 1.5em;
	margin-bottom: 1em;
}

a {
	text-decoration: none !important;
	color: rgb(250, 111, 0);
}

section {
	padding: 3em 0 5em 0;
}

.arrow-up {
	position: absolute;
	left: 10%;
	bottom: 20%;
	font-size: 8em;
	color: rgb(250, 111, 0);
	-webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.hvr-underline-from-center:before {
	background-color: rgb(250, 111, 0);
}
.chevron {
	color: rgb(250, 111, 0);
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
	font-size: 6em;
}


/****** NAVIGATION ******/

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: rgb(250, 111, 0);
    text-shadow: 0 1px 0 rgb(79, 116, 165);
}

.navigation {
	margin-bottom: 0;
	opacity: 0.8;
}

#nav {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	color: white;
	font-size: 1.5em;
	list-style: none;
	margin: 2em;
	position: absolute;
}


/****** LANDING WEBSITE ******/

@keyframes FadeInOut {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

.pillar {
	position: fixed;
	right: -15%;
	background-color: white;
	width: 20%;
	height: 120%;
	-webkit-transform: rotate(11deg);
    -moz-transform: rotate(11deg);
    -ms-transform: rotate(11deg);
    -o-transform: rotate(11deg);
    transform: rotate(11deg);
	/* Effort to get rid of the bloody pixels in the pillar */
	transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.line {
	position: absolute;
	width: 106.1%;
	height: 0.25%;
	background-color: rgb(250, 111, 0);
	top: 40%;
	left:  -5%;
	-webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
    overflow: hidden;
}

header {
	background-size: cover;
	background: rgb(9, 9, 9);
	padding-bottom: 2em;
	min-height: 100vh;
	position: relative;
}



#jumbotron {
	color: white;
	font-size: 7em !important;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}

#jumbo-mobile {
	/* Since the jumbotron collapses when it reaches 300-400px,
	I find this solution brings less headaches as well as not 
	changing the User Experience */
	border: 2px solid white;
	bottom: 20%;
	color: white;
	position: absolute;
}

#ld-chevron-wrapper {
	/* Style for positioning the chevron in the landing */
	bottom: 10%;
	position: absolute;
}

#chevron-about,
#chevron-projects {
	color: black; /* rgba(44, 155, 208, 0.8) !important; */
}



#jumbotron,
#jumbo-mobile {
	animation: FadeInOut 8s ease-in-out 0s infinite;
}


/****** ABOUT ******/

#about,
#contact {
	background: rgb(250, 111, 0);
}


/****** SKILLS ******/

#skills {
	background-size: cover;
	background: rgb(1, 1, 1);
	color: #fff;
}


/****** PROJECTS ******/

#projects {
	background: rgb(49, 49, 49);
	color: black;
}

.project-img {
	background-size: cover;
	width: 100%;
	height: auto;
	padding: 2rem;
}

/****** CONTACT ******/
