/* For debugging purposes */
.red {
	border: 2px solid red;
	color: red;
}


/**************************** ******************************/

/* PRELOADER STYLING */

/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	background: url(../images/Preloader_10.gif) center no-repeat #fff;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}


/****** GENERAL LAYOUT ******/

body {
	color: rgb(220, 220, 220);
	font-family: "Share Tech Mono", monospace;
	overflow-x: hidden; 
}

.heading {
	text-shadow: 2px 2px 3px rgb(40, 40, 40);
}

.heading2 {
	background-color: rgba(40, 40, 40, 0.4);
	display: inline-block;
	padding: 0.3em;
	border-radius: 3px;
}

p {
	margin-bottom: 1em;
}

a, button, a:hover {
	color: rgb(220, 220, 220);
	text-decoration: none;
}

section {
	padding: 3em 0 8em 0;
}


/****** NAVIGATION ******/

.navbar {
	background-color: rgb(9, 9, 9);
	background: linear-gradient(
		to bottom,
		rgb(9,9,9) 90%,
		rgba(40,40,40,.7));
	box-shadow: 0 2px 5px rgb(9, 9, 9);
	font-size: 1.2em;
	position: absolute;
	text-decoration: none;
	width: 100%;
}

nav a {
	color: rgb(220, 220, 220);
	margin: 0 0.2em;
	padding: 0.3em 0.8em;
	text-decoration: none;
	transition-duration: .7s;
}

nav a:hover, nav a:focus {
	box-shadow: inset 0 0 0 5px rgb(252, 38, 47);
	color: rgb(252, 38, 47);
	text-shadow: 1px 1px rgb(9, 9, 9);
}


/****** LANDING WEBSITE ******/

header {
	background:
		url("../images/dogPS.jpg") center center fixed;
	background-size: cover;
	filter: grayscale(1);
	height: 100vh;
	overflow: hidden;
	position: relative;
}

header div div {
	align-items: center;
	color: white;	
	display: flex;
	flex-flow: column;
	height: 100vh;
	justify-content: center;
	text-shadow: 1px 1px black;
}

/****** BUTTON TO TOP ******/

.arrowToTop {
	border-radius: 8px;
	bottom: 1.4em;
	color: rgb(252, 38, 47);
	color: rgba(252, 38, 47, .9);
	cursor: pointer;
	font-size: 1.3em;
	font-weight: 800;
	outline: none;
	position: fixed;
	right: 1.4em;
	z-index: 1;
}

.arrowToTop:hover {
	color: rgba(252, 38, 47, 1);
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/****** ABOUT ********/

.about {
	background: rgb(9, 9, 9);
	color: rgb(220, 220, 220);
}

.about img {
	border: 1px solid rgb(220, 220, 220);
	border-radius: 6px;
	margin-bottom: 1em;
}

.about ul {
	padding: 0;
}
.about li {
	list-style: none;
}

.skills-wrapper {
	background-color: rgb(40, 40, 40);
	border-radius: 8px;
	border: 2px solid rgb(220, 220, 220);
	box-shadow: 1px 2px rgb(140, 30, 30);
	margin-bottom: 1em;
	padding: 0 0;
	text-align: center;
	width: 100%;
}

.skills-bar {
	background-color: rgb(252, 38, 47);
	border-radius: 8px;
	padding: 0.2em 0;
	width: 0;
}

/****** PROJECTS ******/

.projects {
	background:
		url("../images/codePS.jpg") center center fixed;
	background-size: cover;
	color: rgb(220, 220, 220);
}

figure {
	border: 2px solid rgb(40, 40, 40);
	box-shadow: 10px 10px 6px 2px rgb(9, 9, 9);
	display: inline-block;
	height: 100%;
	overflow: hidden;
	position: relative;	
	width: 100%;
}

figcaption {
	align-items: center;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	color: rgb(220, 220, 220);
	color: rgba(220, 220, 220 , 1);
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	font-size: 1em;
	justify-content: center;
	left: 0;
	opacity: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding: 1em 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s ease;
		-webkit-transition: all 0.6s ease;
  		-moz-transition:    all 0.6s ease;
  		-o-transition:      all 0.6s ease;
}

figure:hover figcaption { opacity: 1; }

.cap-bot:before { bottom: 10px; left: 10px; }

.cap-bot figcaption { bottom: -30%; left: 0; }

.cap-bot:hover figcaption { bottom: 0; }

.img-fluid {
	background-size: cover;
}


/****** FOOTER ******/

footer {
	background-color: rgb(40, 40, 40);
}

footer a {
	margin-bottom: 0.5em;
}

.btn-cp {
	background-color: black;
	color: white;
}
